/* media query to display nav-baar vertically */

@media (max-width: 769px) {
  .navbar,
  .main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }
  * {
    padding: 1rem;
  }
  h2 {
    color: black;
  }
  .card {
    display: inline-block;
  }
}

.container {
  position: relative;
  overflow: hidden;
}

.responsive-iframe {
  position: absolute;
}
